body {
    background-color: beige;
    color: rgb(66, 66, 194);
    font-family: 'Comfortaa';
}

h1 {
    margin-top: 15px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 40px;
    color: rgb(53, 103, 122);
    background: url('images/header.jpg');
    height: 12vh;
    line-height: 12vh;
}

#calculator-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    margin-right: 0px;
}

#calculator-container>* {
    margin-top: 12px;
}

#calculator-container> .number-input {
    text-align: center;
    color: rgb(20, 54, 88);
    border: 1px solid rgb(20, 54, 88);
    background-color: beige;
    padding: 4px;
    border-radius: 3px;
}

#calculate-btn {
    margin-top: 30px;
    margin-bottom: 25px;
    width: 150px;
    padding: 8px;
    color: white;
    background-color: rgb(99, 99, 141);
    font-size: large;
    border: none;
    border-radius: 3px;
    letter-spacing: 1.5px;
}

#calculate-btn:hover {
    background-color: rgb(66, 66, 194);
}

#main-container {
    padding: 10px;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 45vh;
    margin: auto;
    border-radius: 8px;
    box-shadow: 5px 10px 8px #a3adb9;
}

img {
    margin: auto;
    height: 60%;
    width: 40%;
    margin-left: -20%;
    margin-right: 0;
}

#result-container > p {
    visibility: hidden;
    display: inline;
    padding: 5px 20px;
    background-color: #74c886;
    color: rgb(20, 54, 88);
    margin-top: -5px;
    font-size: 20px;
    border-radius: 3px;
}

#result-container > #clear-btn {
    position: relative;
    bottom: 2px;
    padding: 5px 10px;
    visibility: hidden;
    background: none;
    color: rgb(66, 66, 194);
    border: 2px solid rgb(66, 66, 194);
}

#result-container > #clear-btn:hover {
    background-color: rgb(66, 66, 194);
    color: white;
}

#calculator-container> .input-warn {
    border: 2px solid rgb(121, 7, 7);
}

#operations {
    background-color: beige;
    font-size: 15px;
}

label[for='operations'] {
    font-size: 19px;
}

#operation-div {
    margin-top: 30px;
}